/* RESET BÁSICO */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BASE */
body {
  background-color: rgb(68, 66, 66);
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}

/* HEADER */
header {
  text-align: center;
  padding: 1.5rem;
  background-color: lavenderblush;
}

/* IMAGEM BANNER (TOPO) */
.header-img {
  width: 100%;
  max-width: 100%;
  height: 250px;
  object-fit: cover;
  display: block;
  margin-bottom: 1rem;
}

/* MAIN */
main {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* SECTIONS */
section {
  background: rgba(255, 255, 255, 0.05);
  padding: 1.5rem;
  border-radius: 10px;
}

/* TITULOS */
h1 {
  color: rgb(64, 62, 62);
  font-size: 2rem;
}

h2 {
  color: lightblue;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

/* TEXTO */
p {
  margin-bottom: 10px;
}

/* INPUTS */
input[type="text"],
input[type="password"],
input[type="date"],
input[type="email"],
input[type="file"],
select {
  width: 100%;
  padding: 0.6rem;
  border-radius: 5px;
  border: none;
  outline: none;
  margin-top: 5px;
}

/* RADIO E CHECKBOX */
input[type="radio"],
input[type="checkbox"] {
  margin-right: 5px;
  accent-color: #232323;
}

/* FIGURA */
.content-img {
  width: 250px;
  max-width: 100%;
  border-radius: 5px;
  margin: 10px 0;
}

/* TABELA */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th,
td {
  padding: 1rem;
  text-align: center;
}

th {
  background-color: #898787;
  color: #97c7eb;
}

td {
  color: #dcdfe0;
}

tfoot td {
  background-color: #525151;
}

/* DETAILS */
details {
  background-color: #adafb0;
  padding: 1rem;
  border-radius: 5px;
  color: black;
}

summary {
  cursor: pointer;
  font-weight: bold;
  color: #0e6072;
}

/* FIELDSET */
fieldset {
  border: 1px solid #dcdfe0;
  border-radius: 5px;
  padding: 1rem;
}

legend {
  color: #379dea;
}

/* TEXTAREA */
textarea {
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
}

/* BOTÃO */
button {
  margin-top: 10px;
  padding: 0.8rem;
  background-color: #97c7eb;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}

/* FOOTER */
footer {
  background-color: rgb(240, 217, 240);
  padding: 2rem;
  text-align: center;
  color: black;
}

footer a {
  color: #379dea;
  text-decoration: none;
}

/* RESPONSIVO */
@media (max-width: 768px) {
  .header-img {
    height: 180px;
  }

  main {
    padding: 1rem;
  }
}
